{% extends 'base.html' %}
{% load static %}


{% block title %}
 Homefilmes Castflix    
{% endblock title %}

{% block content %}
<div class=" pd-10 px-5">
    {% for filme in object_list  %}
    <hr>
    <a href="{% url 'filme:detalhesfilme' filme.id %}"><p> {{ filme.titulo }}</p><a>
    <p> {{ filme.descricao }}</p>
    <img src="{{ filme.thumb.url}}">
    {% endfor %}
</div>

<div class="py-14">
    <h2>Novo</h2>
    {{ lista_filmes_recentes}}

</div>
<br>
<div class="py-14">
    <h2>Em alta</h2>
    {{ lista_filmes_emalta}}

</div>
{% endblock content %}